BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortCompoundRequirementOnASingleLine: True
AllowShortLambdasOnASingleLine: All
